<div class="card-columns m-5 animated fadeIn">
  <div *ngFor="let item of items" class="card">

    <!-- HomeComponent -->
    <div *ngIf="isHomeComponent">
      <a [href]="item.external_urls.spotify" target="_blank">
        <img [src]="item.images | noimage" class="card-img-top puntero" alt="...">
      </a>
      <div class="card-body bottomMargin">
        <h5 class="card-title">{{ item.name }}</h5>
        <ng-container class="card-text display block">
          <span *ngFor="let artist of item.artists" class="badge badge-pill badge-primary float-left">
              <span class="whiteFontColor puntero" (click)="verArtista(item)">{{ artist.name }}</span>
          </span>
          <span class="float-right font13 blackFontColor">{{ item.release_date | date:'d/MM/yy' }}</span>
        </ng-container>
      </div>
    </div>

    <!-- SearchComponent -->
    <div *ngIf="isSearchComponent">
      <span (click)="verArtista(item)">
        <img [src]="item.images | noimage" class="card-img-top puntero" alt="...">
      </span>
      <div class="card-body bottomMargin">
        <h5 class="card-title">{{ item.name }}</h5>
        <ng-container class="card-text display block">
        <span *ngFor="let genre of item.genres" class="badge-space badge badge-pill badge-primary float-left">
          <span class="whiteFontColor">{{ genre }}</span>
        </span>
        <span class="float-right font13 bottomMargin blackFontColor">{{ item.followers.total | number }}</span>
        </ng-container>
      </div>
    </div>

  </div>
</div>
