<app-loading class="md-5" *ngIf="loading"></app-loading>

<div *ngIf="!loading">
  <div class="textImgComponent m-5">
    <img [src]="artist.images | noimage" class="artistImage">
    
    <div class="textBeyondImage">
      <h3 >{{ artist.name}}</h3>
      <h6 >Seguidores: {{ artist.followers.total | number }}</h6>
      <span *ngFor="let genre of artist.genres" class="badge-space badge badge-pill badge-primary ">
          <span class=" whiteFontColor">{{ genre }}</span>
      </span>

      <div class="topMargin">
        <a [href]="artist.external_urls.spotify" target="_blank" class="btn btn-outline-success">
          Ir a la página del artista
        </a>
        <button (click)="back()" class="btn btn-outline-success">
          Regresar
        </button>
      </div>  

    </div>
    
  </div>

<div class="row">
  <div class="col">
    <table class="table whiteFontColor">
      <thead>
        <tr class="alignTextCenter">
          <th>Foto</th>
          <th>Album</th>
          <th>Canción</th>
          <th>Vista Previa</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let track of topTracks" class="alignTextCenter">
          <td>
            <img [src]="track.album.images | noimage" class="img-thumb">
          </td>
          <td>{{ track.album.name }}</td>
          <td>{{ track.name }}</td>
          <td>
            <iframe [src]="track.album.uri | domseguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </td>
        </tr>
      </tbody>

    </table>
  </div>
</div>