<div class="card-columns">
  <div *ngFor="let song of newSongs" class="card">
    <img [src]="song.images | noimage" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{ song.name }}</h5>
      <p class="card-text display block">
          <span *ngFor="let artist of song.artists" class="badge badge-pill badge-primary float-left">
            <a class="whiteFontColor" href="{{artist.external_urls.spotify}}" target="_blank">{{ artist.name }}</a>
          </span>
          <span class="float-right songDate">{{ song.release_date | date:'d/MM/yy' }}</span>
      </p>
    </div>
  </div>

</div>